body {
  background-color: #fff;
  margin: 0 auto;
  font-family: 'Varela Round','Quicksand',sans-serif;
  max-width: 120ch;
  padding: 0 12px;
  color: #212529;
}

a{
  color: #4054B2;
}

header{
  padding-top: 0.75rem;
  text-align: center;
}

.header-title {
  font-weight:500;
  font-size: 1.375rem;
  color: #212529;
  text-decoration: none;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav ul li{
  display: inline;
  padding: 0.75rem;
}

nav ul li a{
  text-decoration: none;
  font-weight: 500;
  color: #212529;
}

.breadcrumb{
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.breadcrumb li{
  display: inline;
  
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}


h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Quicksand','Varela Round',sans-serif; 
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 2.25rem;
}

.h2main {
  text-align: center;
}


h3{
  font-size: 1.25rem;
}

h4{
  margin: 0;
  font-size: 1.25rem;
}

h5{
  font-size: 1rem;
  margin: 0;
}

p{
  line-height: 1.5;
}

.solid{
  margin: 2rem;
}

.disclaimer-title {
  font-size: 1.375rem;
  font-weight: 500;
  text-align: center;
}

.certifications{
  display: flex;
}

.independent-certs,
.vendor-certs{
  height: 100%;
  padding: 2% 4%;
  margin-right: 0.5rem;
  width: 50%;
}

.cert-container{
  display: flex;
}

.independent-certs,
.vendor-certs,
.cert-intro,
.cert-overview,
.cert-list,
.relspecreqs,
.cert-containerrel,
.cert-containerreltraining {
 border-style:solid;
 background-color: #f4f4f4;
 border-color: #4054B2;
 border-width: 0.5px; 
}

.cert-intro{
  height: 100%;
  padding: 2% 4%;
  margin-right: 0.5rem;
  width: 60%;
}

.cert-moreinfo{
  display: inline-block;
  border-style:solid;
  border-color: #4054B2;
  border-width: 0.5px;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
  color: #212529;
  background-color: #fff;
}

.cert-right{
  margin-bottom: 1rem;
  width: 40%;
}

.cert-overview{
  text-align: center;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.cert-list {
  padding: 0 4%;
  margin-left: 0.5rem;
}

.cert-ul{
  list-style-type: none;
  padding: 0;
}

.cert-list-logo {
  color: #4054B2;
}

.cert-list-cat {
  font-weight: 500;
}

.relspecialist{
  font-size: 1.5rem;
}

.relspecreqs{
  padding: 0 2%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-width: 60%;
  margin: auto
}

.certspeccontainers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.certspeccontainers > * {
  flex: 0 1 45%;
}

.cert-containerrel,
.cert-containerreltraining{
  margin: 4px;
  padding: 1rem;
}



@media screen and (max-width:700px) {
  .certifications,
  .cert-container { 
    flex-wrap: wrap; 
  }

  .relspecreqs {
    max-width: 100%;
  }

  .independent-certs,
  .cert-intro{
    margin-bottom: 0.5rem;
    margin-right: 0;
    width: 100%;
  }

  .certspeccontainers > * {
    flex: 0 1 100%;
  }

  .vendor-certs,
  .cert-right{
    width: 100%;
  }

  .cert-overview,
  .cert-list{
    margin: 0;
    margin-bottom: 0.5rem;
  }
}